<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lihat Pegawai</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem;margin-top:3rem;">
		<p th:text="${message}" style="color:#d4af37"></p>
		<table>
			<tr>
				<td style="width:40rem;">
					<h4>Data Pegawai Termuda</h4>
				</td>
				<td>
					<h4>Data Pegawai Tertua</h4>
				</td>
			<tr>
				<td>
					<table>
						<tr style="height:3rem;">
							<td style="width:8rem;"><b>NIP</b></td>
							<td th:text="${pegawaiTermuda.nip}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Nama</b></td>
							<td th:text="${pegawaiTermuda.nama}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Tempat Lahir</b></td>
							<td th:text="${pegawaiTermuda.tempatLahir}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Tanggal Lahir</b></td>
							<td th:text="${pegawaiTermuda.tanggalLahir}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Tahun Masuk</b></td>
							<td th:text="${pegawaiTermuda.tahunMasuk}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Nama Instansi</b></td>
							<td th:text="${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Jabatan</b></td>
							<td>
								<ul th:each="jabatan : ${pegawaiTermuda.daftarJabatan}">
									<li th:text="${jabatan.nama}"></li>
								</ul>
							</td>
						</tr>					
						<tr style="height:3rem;">
							<td><b>Gaji</b></td>
							<td th:text="'Rp'+${gajiPegawaiTermuda}"></td>
						</tr>						
					</table>
				</td>
				<td>
					<table>
						<tr style="height:3rem;">
							<td style="width:8rem;"><b>NIP</b></td>
							<td th:text="${pegawaiTertua.nip}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Nama</b></td>
							<td th:text="${pegawaiTertua.nama}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Tempat Lahir</b></td>
							<td th:text="${pegawaiTertua.tempatLahir}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Tanggal Lahir</b></td>
							<td th:text="${pegawaiTertua.tanggalLahir}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Tahun Masuk</b></td>
							<td th:text="${pegawaiTertua.tahunMasuk}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Nama Instansi</b></td>
							<td th:text="${pegawaiTertua.instansi.nama} + ' - ' + ${pegawaiTertua.instansi.provinsi.nama}"></td>
						</tr>
						<tr style="height:3rem;">
							<td><b>Jabatan</b></td>
							<td>
								<ul th:each="jabatan : ${pegawaiTertua.daftarJabatan}">
									<li th:text="${jabatan.nama}"></li>
								</ul>
							</td>
						</tr>					
						<tr style="height:3rem;">
							<td><b>Gaji</b></td>
							<td th:text="'Rp'+${gajiPegawaiTertua}"></td>
						</tr>						
					</table>
				</td>
			</tr>
		</table>
	
	</div>
	<br><br>
	<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>