<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Berhasil Mengubah Pegawai</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div style="margin-left:2rem;margin-top:3rem;">
		<h4>Sukses!</h4>
		<p>Pegawai dengan NIP <a style="color:#d4af37" th:text="${oldNip}"></a> berhasil diubah</p>
		<a th:href="@{|/pegawai?nip=${newNip}|}"><button type="button" class="btn btn-warning">Kembali ke Detail Pegawai</button></a>
	</div>
	<footer th:replace="fragments/fragment :: footer"></footer>
</body>


</html>